html {
    font-size: 10px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  
      transition: all .3s;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  :root {
    --gray: #404041;
    --light-gray: #5c5a59;
    --dark-gray: #313131;
    --light-pink: #d0c9cc;
    --white: #f5f5f5;
  }
  
  body {
    color: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    background: linear-gradient(0deg, var(--light-gray) 0%, var(--dark-gray) 100%);
    width: 100%;
    height: 100vh;
  
    padding: 2rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    overflow-x: hidden;
  }
  
  .container .mainTitle {
    font-size: 4rem;
  }
  
  .kuromi {
    width: 32rem
  }
  
  .kuromi-2, .kuromi-3 {
    display: none;
  }
  
  .boxData {
    text-align: center;
  }
  
  .boxData .subTitle {
    font-size: 3rem;
    margin: 20px 0 10px;
  }
  
  .boxData .inputName {
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
    padding: .6rem 1.2rem;
    border: 0;
    border-radius: 1rem;
    outline: none;
    border: 1px solid transparent;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .boxData .inputName:focus {
    border: 3px solid rgb(15, 15, 15);
  }
  
  .boxData .buttonStart {
    background: rgb(15, 15, 15);
    color: var(--white);
    border: none;
  
    padding: 1.3rem 5rem;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 1.5rem;
  }
  
  .boxImages {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    height: 100%;
    overflow: auto;
    position: absolute;
    top: 100%;
    transition: all 3s ease;
    padding: 2rem 0;
  }
  
  .imgScreenshot {
    width: 90%;
    opacity: 0;
    transition: 1s;
    transform: translateX(-50%);
  }
  
  .animate {
    opacity: 1;
    transform: translateX(0);
  }
  
  @media (max-width: 768px) {
    .kuromi {
      width: 20rem
    }
  
    .container {
      margin: 10rem 0;
      text-align: center;
    }
  
    .boxData .inputName {
      max-width: initial;
    }
    
    .buttonStart {
      width: 100%;
    }
  }